{% extends 'base/main.html' %}
{% load static %}
{% block title %}
My Chat
{% endblock title %}


{% block content %}
<main>
    <section id='form-container'>
        
        <img src="{% static 'images/chat-icon.png' %}" alt="" id='logo' srcset="">
        <div id="welcome-message">
            <h1>Welcome to My Chat </h1>
            <p>A group video calling app just for free </p>
        </div>
        <form action="" id='form'>
            <div class="form-field">
                <input type="text" name="room" id="" placeholder="Enter  Room Name Here" style="text-transform: uppercase;">
            </div>
            <div class="form-field">  
                <input type="text" name="username" id="" placeholder="Enter Your Name Here" style="text-transform: uppercase;">
            </div>
            <div class="form-field">  
                <input type="submit" value="Join Strem">
            </div>
        </form>
    </section>
</main>
<script type="text/javascript">
    
    let form = document.getElementById('form');
    let handleSubmit = async (e)=>{
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.username.value
        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()
        let UID = data.uid
        let token = data.token
        sessionStorage.setItem('UID',UID)
        sessionStorage.setItem('token',token)
        sessionStorage.setItem('room',room)
        sessionStorage.setItem('username',name)
        window.open('/room/','_self')
    }
    form.addEventListener('submit',handleSubmit);
</script>
{% endblock content %}